# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.BallSortPuzzle.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Rafael\Documents\GitHub\iart-proj-2\BallSortPuzzle\.idea\.idea.BallSortPuzzle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
